{% extends "base.html" %}
{% load static %}

    {% block css %} 
    <title>Профиль Ученика Иванова И.</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    {% endblock css %}
{% block Log_in %}
    <div>
<!--Профиль-->
<div class="container_log">
    <div class="content_log">
        
        <div class="img">
            <img src="img/character-avatar-isolated_729149-194801.avif" alt="" width="70%">
        </div>
                <form action="#">
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text"  class="Login">
                        </div>
                        <div class="name">
                        <label for="Login">Login:</label>
                        </div>
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="E-mail"  class="E-mail">
                        </div>
                        <div class="name">
                        <label for="E-mail">E-mail:</label>
                        </div>
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <div class="text">
                        <input type="password" class="password">
                        </div>
                        <div class="name1">
                        <label for="password">Пароль:</label>
                        </div>
                        </div>
                    </div>

                      
                   
                </form>
        </div>
    </div>
</div>
{% endblock Log_in %}
{% block cards_of_lessons %}
<div class="lessons">
 
    <div class="h3_pr">
        <h3>Полезные ссылки:</h3>
    </div>
    <div class="p1">
        <P>
            <a href="{% url "users:List_of_teachers" %}">Список учителей</a><br><br>
            <a href="{% url "users:Massages" %}">Обращения</a><br><br>
            <a href="{% url "users:registed_users" %}">Учащиеся</a><br><br>
            
        </P>
    </div>


</div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}