{% extends "base.html" %}
{% load static %}
 {% block css %} 
    <title>Учителя по группам</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
{% endblock css %}
{% block cards_of_lessons %}
    <div>
        <div class="lessons">
    <div class="h3_pr">
        <h3>Преподаватели по группам</h3>
    </div>
    <div class="p1">
        <P>
            <a href="{% url "users:Pilipenko" %}">Даниил Пилипенко</a><br><br>
            Предмет: PHP <br><br>
            Группа №:1 <br><br>
            Преподаватель: <a href="{% url "users:Ivanov" %}">Иванов Иван Иванович</a><br><br>
            Группа №:2 <br><br>
            Группа №:3 <br><br>
        </P>
    </div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}
