{% extends "base.html" %}
{% load static %}

 {% block css %} 
    <title>Список учителей</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
{% endblock css %}
{% block cards_of_lessons %}
    <div>

<div class="container_crd">
        <div class="card">
            <a href="{% url "users:Pilipenko" %}"><div class="img_3"><img src="{% static "img/prep1.webp" %}" alt="" ></a>
            </div>
            
            <div class="p_pr">
                
                <p> <center><b>Даниил Пилипенко</b><br> <br>D.Pilipenco@yandex.ru <br>+7 999 909 70 07</center>
                </p>
    
             </div>
             <div class="img_3">
                <img src="{% static "img/prep2.webp" %}" alt="" >
            </div>
            
            <div class="p_pr">
                
                <p> <b><center>Михаил Овчинников</b> <br> <br>M.Ovchinnikov@yandex.ru <br>+7 999 508 71 11</center>
                </p>
             </div>
             </div>
             <div class="img_4">
                <img src="{% static "img/prep5.webp" %}" alt="" width="800px" >
            </div>
            <div class="p_pr">
                <p> <b><center>Сергей Камянецкий</b><br> <br>S.Kamyaneckiy@yandex.ru <br>+7 995 900 11 00</center>
                </p>
             </div>
             <div class="img_5"><img src="{% static "img/prep6.webp" %}" alt="" width="800px" >
            </div>
            <div class="p_pr">
                <p> <b><center>Вадим Шандринов</b><br> V.Sandrinov@yandex.ru<br><br>+7 995 810 12 02</center>
                </p>
                </p>
             </div>
            <div class="img_6"><img src="{% static "img/prep3.avif" %}" alt="" width="800px">
            </div>
            <div class="p_pr">
                <p> <b><center>Дмитрий Коробченко</b><br> D.Korobchenko@yandex.ru<br><br>+7 990 32 99</center>
                </p>
             </div>
        </div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}
