{% extends "base.html" %}
{% load static %}
 {% block css %} 
    <title>Online school</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
 {% endblock css %} 
<!-- Форма обратной связи -->
 {% block connect %}
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>
{% endblock connect %}
<!-- карточки предметов -->
 {% block cards_of_lessons %}
<div class="container_crd">
        <div class="card">
            <a href="{% url "main:Analytic" %}"><img src="{% static "img/Аналитика.webp" %}" alt=""></a>
            <div class="info">
                <a href="{% url "main:Analytic" %}">
                    <div class="text1">Аналитика</div>
                    <a href="{% url "main:Analytic" %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
        </div>
        
        <div class="card">
            <a href="{% url "main:Design" %}"><img src="{% static "img/Дизайн.webp" %}" alt=""></a>
             <div class="info">
             <a href="{% url "main:Design" %}">
                    <div class="text1">Дизайн</div>
                    <a href="{% url "main:Design" %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
        
        </div>
        <div class="card">
            <a href="{% url "main:Programming" %}"><img src="{% static "img/Прог.jpg" %}" alt=""></a>
             <div class="info">
                 <a href="{% url "main:Programming" %}">
                    <div class="text1">Программирование</div>
                    <a href="{% url "main:Programming" %}">
                        <div class="bututon1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
        
        </div>
        <div class="card">
            <a href="{% url "main:Marketing" %}"><img src="{% static "img/Маркетинг.webp" %}" alt=""></a>
             <div class="info">
              <a href="{% url "main:Marketing" %}">
                    <div class="text1">Маркетинг</div>
                    <a href="{% url "main:Marketing" %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
        
        </div>
        <div class="card">
            <a href="{% url "main:Managing" %}"><img src="{% static "img/Управление.jpg" %}" alt=""></a>
             <div class="info">
                <a href=""{% url "main:Managing" %}">
                    <div class="text1">Управление</div>
                    <a href=""{% url "main:Managing" %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
        
        </div>
        <div class="card">
            <a href="{% url "main:Finance" %}"><img src="{% static "img/Финансы.webp" %}" alt=""></a>
             <div class="info">
               <a href="{% url "main:Finance" %}">
                    <div class="text1">Экономика</div>
                    <a href="{% url "main:Finance" %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
        
        </div>
    </div>
{% endblock cards_of_lessons %}
