
{% extends "base.html" %}
{% load static %}

{% block title %}<title>Профиль</title>{% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
   {% endblock css %}
    
 {% block log_in %}
<div class="container_log">
    <div class="content_log">
        <form action="{% url "user:profile" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="img">
                {% if user.image %}
                    <img src="{{user.image.urt}}" alt="" class="img-fluid rounded-circle" style="max-width: 150px">
                {% else %}
                    <img src="{% static "img/character-avatar-isolated_729149-194801.avif" %}" alt="" class="img-fluid rounded-circle" style="max-width: 150px;">
                {% endif %}
                <input type="file" name="image" accept="image/" class="form-control" id="id_image">
                {% if form.image.errors %}
                <div class="alert alert-danger alert-dismissible fade show"> {{form.image.errors}}</div>
                {% endif %}
            </div> 
            
                
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="Введите логин" 
                        value="{{form.username.value}}"
                        required>
                        </div>
                        <div class="name">
                        <label for="id_username" class="form-lable">Login:</label>
                        </div>
                        {% if form.username.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                        {{form.username.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="Введите имя" 
                        value="{{form.first_name.value}}"
                        required>
                        </div>
                        <div class="name">
                        <label for="id_first_name" class="form-lable">Имя:</label>
                        </div>
                        {% if form.first_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                        {{form.first_name.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Введите фамилию" 
                        value="{{form.last_name.value}}"
                        required>
                        </div>
                        <div class="name">
                        <label for="id_last_name" class="form-lable">Фамилия:</label>
                        </div>
                        {% if form.last_name.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                        {{form.last_name.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="email" class="form-control" id="id_email" name="email" placeholder="Введите Email *example@yandex.ru" 
                        value="{{form.email.value}}"
                        required>
                        </div>
                        <div class="name">
                        <label for="id_email" class="form-lable">Email:</label>
                        </div>
                        {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="button">
                        <button type="submit">Сохранить</button>
                    </div>
                    </div>
        </form>
                
        </div>
    </div>
</div>
{% endblock log_in %}

<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>

{% block cards_of_lessons %}
    <div class="p1">
        <P>
            {% if user.is_admim or user.is_staff%}
            <a href="{% url "main:index" %}">Мои курсы</a><br><br>
            <a href="{% url "main:index" %}">Мои группы</a><br><br>
            <a href="{% url "main:index" %}">База знаний</a><br><br>
            <a href="{% url "main:index" %}">Список учителей</a><br><br>
            <a href="{% url "feedback:feedback" %}">Обращения</a><br><br>
            <a href="{% url "main:index" %}">Пользователи</a><br><br>
            <a href="{% url "main:index" %}">Группы</a>
            <a href="{% url "main:index" %}">Ученики</a>
            
            {% else %} 
                {% for lesson in lessons %}
                <a href="{% url "lessons_all:lessons_all" lesson.slug %}">{{lesson.name}}</a>
                {% endfor %}
            {% endif %}
        </P>
    </div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}