
{% extends "base.html" %}
{% load static %}

{% block title %}<title>Профиль</title>{% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
   {% endblock css %}
    
 {% block log_in %}
<div class="container_log">
    <div class="content_log">
        <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="img">
                {% if user.image %}
                    <img src="{{user.image.urt}}" alt="" width="70%">
                {% else %}
                <img src="{% static "img/character-avatar-isolated_729149-194801.avif" %}" alt="" width="70%">
                {% endif %}
                <input type="file" class:"form-control" id="id_image" name="image" accept="image/">
                {% if form.image.errors %}
                <div class="alert alert-danger alert-dismissible fade show"> {{form.image.errors}}</div>
                {% endif %}
            </div> 
            
                
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" class:"form-control" id="id_username" name:="username" placeholder="Введите логин" 
                        value="{{form.username.value}}"
                        required>
                        </div>
                        <div class="name">
                        <label for="id_username" class="form-lable">Login:</label>
                        </div>
                        {% if form.username.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                        {{form.username.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="email" class:"form-control" id="id_email" name:="email" placeholder="Введите Email *example@yande.ru" 
                        value="{{form.email.value}}"
                        required>
                        </div>
                        <div class="name">
                        <label for="id_email" class="form-lable">Email:</label>
                        </div>
                        {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                        {% endif %}
                    </div>
                    <div class="button">
                        <a href="{% url "users:profile" %}"><input type="button" value="Сохранить"></a>
                    </div>
                    </div>
        </form>
                
        </div>
    </div>
</div>
{% endblock log_in %}

<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>

{% block cards_of_lessons %}
<div class="p1">
        <P>
            {% if user.is_staff %}
            <a href="{% url "groups:Courses" %}">Мои курсы</a><br><br>
            <a href="{% url "groups:Groups" %}">Мои группы</a><br><br>
            <a href="{% url "groups:base_of_knowledge" %}">База знаний</a><br><br>
            {% if user.is_admim %}
            <a href="{% url "users:List_of_teachers" %}">Список учителей</a><br><br>
            <a href="{% url "feedback:messages" %}">Обращения</a><br><br>
            <a href="{% url "main:index" %}">Пользователи</a><br><br>
            <a href="{% url "main:index" %}">Группы</a>
            <a href="{% url "main:index" %}">Ученики</a>
            <a href="{% url "admin:index" %}">Админ панель</a>
            {% else %}
            <a href="{% url "lessons:Syntacsis" %}">Основы синтаксиса</a><br><br>
            <a href="{% url "lessons:History" %}">История PHP</a><br><br>
            <a href="{% url "lessons:Massyvy" %}">Массивы</a><br><br>
            <a href="{% url "lessons:Obgects" %}">Объекты и классы</a><br><br>
            <a href="{% url "lessons:Methods" %}">Методы</a><br><br>
            <a href="{% url "lessons:MySQL_in_PHP" %}">MySQL в PHP</a><br><br>
            <a href="{% url "lessons:Cookie" %}">Фалы cookie</a>
            {% endif %}
        </P>
    </div>
{% endblock cards_of_lessons %