
{% extends "base.html" %}
{% load static %}

{% block title %}<title>Регистрация</title>{% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
   {% endblock css %}
    
 {% block log_in %}
<div class="container_log">
    <div class="content_log">

      <div class="topic-text_reg">Регистрация</div>
                <form action="{% url "user:registration"%}" method="post">
                    {% csrf_token %}
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" class:"form-control" id="id_username"
                        value="{% if form.username.value %} {{form.username.value}} {% endif %}"
                        name="username" placeholder="Введите логин" required>
                        
                        </div>
                        <div class="name">
                        <label for="id_username" class="form-lable">Login:</label>
                        </div>
                        {% if form.username.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{form.username.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="email" class:"form-control" id="id_email" 
                        value="{% if form.username.value %} {{form.email.value}}  {% endif %}"
                        name="email" placeholder="Введите Email" required>
                        </div>
                        <div class="name">
                        <label for="id_email" class="form-lable">Email:</label>
                        </div>
                        {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{form.email.errors}}
                        </div>
                        {% endif %}
                    </div>
                        <div class="input-box_reg">
                        <div class="text">
                        <div class="text">
                        <input type="password" class:"form-control" id="id_password1" 
                        value="{% if form.password1.value %} {{form.password1.value}}{% endif %}"
                        name="password1" placeholder="Подтвердите пароль" required>
                        </div>
                        <div class="name1">
                        <label for="id_password1" class="form-lable">Пароль:</label>
                        </div>
                        </div>
                        {% if form.password1.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{form.password1.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <div class="text">
                        <input type="password" class:"form-control" id="id_password2" 
                        value="{% if form.password2.value %} {{form.password2.value}}{% endif %}"
                        name="password2" placeholder="Подтвердите пароль" required>
                        </div>
                        <div class="name1">
                        <label for="id_password2" class="form-lable">Пароль:</label>
                        </div>
                        </div>
                        {% if form.password2.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{form.password2.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="log_and_reg">
                    <div class="button">
                        <a href="{% url "lessons:index" %}"><input type="button" value="Отправить"></a>
                    </div>
                    </div>
                </form>
                
        </div>
    </div>
</div>
   
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock log_in %}