{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online school</title>
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="main-container">
<!-- навигационная панель -->

    <div class="navbar">
        
        
        <div class="drop">

              <button class="nav-btn">&#8776;</button>
                <div class="nav-list">
                <a href="{% url "groups:index" %}">Главная</a>
                <a href="{% url "groups:about_us_prep" %}">О нас</a>
                <a href="{% url "groups:Courses" %}">Мои курсы</a>
                <a href="{% url "groups:Groups" %}">Мои группы</a>
                <a href="{% url "groups:base_of_knowledge" %}">База знаний</a>
                <a href="{% url "groups:Tests" %}"> Тесты</a>
                <a href="{% url "groups:Lectures" %}"> Лекции</a>
                <a href="{% url "groups:Help_prep" %}"> Помощь</a>
                <a href="{% url "groups:profile_prep" %}">
                <img src="{% static "img/character-avatar-isolated_729149-194801.avif" %}" alt="" width="70"></a>
        </div>
     
       </div> 
    
    </div>

        <h1>Онлайн школа</h1>
    <div>
<div class="first_ph"><img src="{% static "img/он.об.png" %}" alt=""></div>
<!-- Форма обратной связи -->
{% block connect %}{% endblock connect %}

{% block Log_in %}{% endblock Log_in %}
<!-- карточки предметов -->
 {% block cards_of_lessons %}{% endblock cards_of_lessons %}
<!-- Футер -->
<div class="container">


    <footer>
        <section class="ft-main">
            <div class="ft-main-item">

                <h2 class="ft-title">Fast links</h2>
                <ul>
                    <li><a href="{% url "groups:index" %}">Главная</a></li>
                    <li><a href="{% url "groups:profile_prep" %}">Личный кабинет</a></li>
                    <li><a href="{% url "groups:about_us_prep" %}">О нас</a></li>
                    
                </ul>


                
            </div>
            <div class="ft-main-item">

                <h2 class="ft-title">Contacts</h2>
                <ul>
                    <li>+7 965 120 22 46</li>
                    <li>Online.school@yandex.ru</li>
                    
                </ul> 
            </div>
        </section>

        <section class="ft-legal">
            <ul class="ft-legal-list">
        
                <li>&copy: Яланская Вероника Артуровна Copyright 2026 Online_School</li>
            </ul>



        </section>
    </footer>
</div>

</body>


</html>