{% extends "base.html" %}
{% load static %}

<title>курсы</title>
{% block css %}
<link rel="stylesheet" href="{% static "styles/base.css" %}">
<link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
<link rel="stylesheet" href="{% static "styles/Content.css" %}">
<link rel="stylesheet" href="{% static "styles/Cards.css" %}">
{% endblock css %}
   
{% block cards_of_lessons %}  
    <div>

<div class="lessons">
    <div class="h2_pr">
        <h2> Название курса:PHP <br>
        <br>
        </h2>
    </div>
    <div class="h3_pr">
        <h3>Уроки курса:</h3>
    </div>
    <div class="p1">
        <P>
            <a href="{% url "lessons:Syntacsis" %}">Основы синтаксиса</a><br><br>
            <a href="{% url "lessons:History" %}">История PHP</a><br><br>
            <a href="{% url "lessons:Massyvy" %}">Массивы</a><br><br>
            <a href="{% url "lessons:Obgects" %}">Объекты и классы</a><br><br>
            <a href="{% url "lessons:Methods" %}">Методы</a><br><br>
            <a href="{% url "lessons:MySQL_in_PHP" %}">MySQL в PHP</a><br><br>
            <a href="{% url "lessons:Cookies" %}">Фалы cookie</a>
        </P>
    </div>

 

</div>
{% endblock cards_of_lessons %} 
