{% extends "base.html" %}
{% load static %}
 {% block css %}
 <title>База знаний</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
 {% endblock css %}
{% block cards_of_lessons %}
    <div>
 {% block log_in %}
<div class="container_log">
    <div class="content_log">
        <div class="img">
            <img src="{% static "img/elephpant-running-78x48.gif" %}" alt="" width="70%">
        </div> 
        {%for q in page_obj%}
            <form action="{%url 'polls:answer' test.id%}" method="POST">
            {%csrf_token%}
            <h1>{{q.question_text}}</h1>
            {%for c in q.choice_set.all%}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ c.choice_text }}">
            <label for="choice{{ forloop.counter }}">{{ c.choice_text }}</label><br>
            {%endfor%}
            <button type="submit">Ответить</button>

            </form>
            {%endfor%}
        <span class="step-links">
            
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"></a>
        {% endif %}
        <span class="current">
        Вопрос {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">след</a>
        {% endif %}
    </span> 
        </div>
    </div>
</div>
 
{% endblock log_in %}

</div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}