{% extends "base.html" %}
{% load static %}
 {% block css %}
 <title>База знаний</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
 {% endblock css %}
{% block cards_of_lessons %}
    <div>

<div class="lessons">
   
    <div class="h3_pr">
        <h3>Курс по PHP <br>
        Тесты</h3>
    </div>
   
  <div class="p1">
        <P>
             Вопросы для тестирования
        </P>
    </div>
 

</div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}