
{% extends "base.html" %}
{% load static %}

<title>О нас</title>
{% block css %}
<link rel="stylesheet" href="{% static "styles/base.css" %}">
<link rel="stylesheet" href="{% static "styles/Cards.css" %}">
<link rel="stylesheet" href="{% static "styles/Content.css" %}">
{% endblock css %}
   


{% block cards_of_lessons %}
{% for about_us in about_us %}


<div class="img_pr">
    <img src="{{about_us.image.url}}" alt="" width="">
</div>

<div class="p_pr">
    <p> {{about_us.description|linebreaksbr}}</p>
</div>

{% endfor %} 
{% endblock cards_of_lessons %}     




