
{% extends "main/base.html" %}
{% load static %}

<title>О нас</title>
{% block css %}
<link rel="stylesheet" href="{% static "styles/base.css" %}">
<link rel="stylesheet" href="{% static "styles/Cards.css" %}">
<link rel="stylesheet" href="{% static "styles/Content.css" %}">
{% endblock css %}
   


{% block cards_of_lessons %}
<div class="img_pr"><img src="{% static "img/aboutus.png" %}" alt="" width=""></div>

<div class="p_pr">
    <p>Ключевая задача нашей комады – развитие профессиональных компетенций у линейного персонала, менеджеров среднего и высшего звена с учётом специфики отрасли: <br><br>• промышленность <br><br>• недвижимость <br><br>• строительство <br><br>• IT</p>
</div>



<div class="h3_pr">
    <h4>Гарантируем качество обучения</h4>
</div>

<div class="p_pr">
    <p>• Обучающие программы — это практические навыки от действующих экспертов рынка. <br><br>• Регулярные обновления программ сохраняют их актуальность.</p>
</div>

<div class="h3_pr">
    <h4>Строим образовательный трек</h4>
</div>

<div class="p_pr">
    <p>• Исходя из задач вашей компании и результатов тестирования сотрудников, нами составляются образовательную траекторию. <br><br>• Определяем soft и hard skills для развития.</p>
</div>



<div class="h3_pr">
    <h4>Сопровождаем до результата </h4>
</div>

<div class="p_pr">
    <p>• На протяжении обучения сотрудник получает обратную связь от куратора и поддержку единомышленников в чате Telegram. <br><br>• Тьютор замеряет метрики эффективности <br>и предоставляет вам отчеты о прогрессе.</p>
</div>

<div class="img_pr2">
    <img src="{% static "img/aboutus2.jpg" %}" alt="">
</div>
{% endblock cards_of_lessons %}     
<!-- Форма обратной связи -->
  {% block connect %}
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>
    {% endblock connect %}



