{% load static %}
{% load main_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online school</title>
   
    {% block css %}

    {% endblock css %}
</head>


<body>
    <div class="main-container">
<!-- навигационная панель -->

    <div class="navbar">
        
        
        <div class="drop">
           
              <button class="nav-btn">&#8776;</button>
                <div class="nav-list">
                <a href="{% url "main:index" %}">Главная</a>
                <a href="{% url "main:About_us" %}">О нас</a>
                {% tag_categories as categories %}
                {% for category in categories %}
                    <a href="{% url "main:Programming" %}">{{category.name}}</a>
                {% endfor %}
                <a href="{% url "main:Teachers" %}">Преподаватели</a>
                <a href="{% url "main:Log_in" %}"> <img src="{% static "img/login-icon-vector.jpg" %}" alt="" width="70"></a>
        
        </div>
     
       </div>  
    
    </div> 

        <h1>Онлайн школа</h1>
    <div>
<div class="first_ph"><img src="{% static "img/он.об.png" %}" alt=""></div>
<!-- Форма обратной связи -->
 {% block connect %}{% endblock connect %}
<!-- карточки предметов -->
   {% block cards_of_lessons %}{% endblock cards_of_lessons %}
<!-- Форма регистрации -->
 {% block log_in %}{% endblock log_in %}
<!-- Футер -->
<div class="container">
    <footer>
        <section class="ft-main">
            <div class="ft-main-item">

                <h2 class="ft-title">Fast links</h2>
                <ul>
                    <li><a href="{% url "main:index" %}">Главная</a></li>
                    <li><a href="{% url "main:Log_in" %}">Войти</a></li>
                    <li><a href="{% url "main:About_us" %}">О нас</a></li>
                    
                </ul>


                
            </div>
            <div class="ft-main-item">

                <h2 class="ft-title">Contacts</h2>
                <ul>
                    <li>+7 965 120 22 46</li>
                    <li>Online.school@yandex.ru</li>
                    
                </ul> 
            </div>
        </section>

        <section class="ft-legal">
            <ul class="ft-legal-list">
                <li>&copy: Яланская Вероника Артуровна Copyright 2026 Online_School</li>
            </ul>



        </section>
    </footer>
</div>

</body>


</html>