{% extends "main/base.html" %}
{% load static %}

    <title>Дизайн</title>
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    {% endblock css %}
{% block cards_of_lessons %}

<div class="p_pr">
    <p>Изучение дизайна актуально в разных сферах: <b><br><br>культуре; <br><br>экономике; <br><br>экологии; <br><br>образовании.</b> <br><br>Это связано с влиянием дизайна на социокультурные процессы, его ролью в решении задач бизнеса, решением экологических проблем и влиянием на образовательный процесс. </p>
</div>
<div class="img_al5">
{% if subject.image %}
<img src="{{subject.image.url}}" alt="" width="70%">
{% endif %}
</div>

<div class="p_pr">
    <p>Функции дизайнера могут включать следующие виды работ: <br><br> • изучение задания, анализ требований и целевой аудитории,поиск идей, создание концепции и эскизов; <br><br>• разработка макетов, прототипов или 3D-моделей; <br><br>• подбор цветовой палитры, шрифтов, стилей и других элементов дизайна; <br>br • проверка и корректировка дизайна на разных этапах; <br><br>•  согласование дизайна с заказчиком или руководителем; <br><br>• подготовка дизайна к печати, вёрстке или реализации.</b></p>
</div>
<div class="img_al5">
<img src="{% static "img/dez 6.jpg" %}" alt="" width="70%">
</div>
{% endblock cards_of_lessons %}

 {% block connect %}
<!-- Форма обратной связи -->
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>
{% endblock connect %}
<!-- Футер -->
