
{% extends "main/base.html" %}
{% load static %}

<title>Финансы</title>
{% block css %}
<link rel="stylesheet" href="{% static "styles/base.css" %}">
<link rel="stylesheet" href="{% static "styles/Cards.css" %}">
<link rel="stylesheet" href="{% static "styles/Content.css" %}">
{% endblock css %}


{% block cards_of_lessons %}
<div class="p_pr">
    <p>Финансист — специалист в области финансов, который занимается анализом, планированием, управлением и контролем финансовых ресурсов организации, предприятия или частного лица. </p>
</div>
<div class="img_al2">
<img src="{% static "img/fin4.webp" %}" alt="" width="70%">
</div>

<div class="p_pr">
    <p>По данным на 2025 год, финансист в России может зарабатывать от 50 000 до 300 000 рублей в месяц, в зависимости от опыта и региона: <br><br><b>Junior</b> (0–2 года опыта) — 50 000–60 000 рублей в месяц. Работают с простыми отчётами и анализом. <br><br> <b>Middle</b> (2–5 лет опыта) — 90 000–100 000 рублей в месяц в регионах и 150 000–165 000 рублей в месяц в Москве. Берут на себя бюджеты и сложные модели. <br><br><b>Senior </b>(5+ лет опыта) — 170 000–200 000+ рублей в месяц. Руководят проектами или целыми отделами.</p>
</div>
<div class="img_al2">
<img src="{% static "img/2Illustration_NEW.gif" %}" alt="" srcset="" width="70%">
</div>

<!-- Форма обратной связи -->
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>
{% endblock cards_of_lessons %}
