
{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static "styles/base.css" %}"> 
<link rel="stylesheet" href="{% static "styles/Cards.css" %}">
{% endblock css %}

 
<!-- карточки предметов -->

{% block cards_of_lessons %}
    

<div class="container_crd">

      
<div class="card">
    
        {% for subject in subjects %}
            {% if subject.image %}
            <a href="{% url "main:subjects_all" subject.slug %}"><img src="{{subject.image.url}}" alt=""></a>
            {% endif %}
            <div class="info">
                
               <a href="{% url "main:subjects_all" subject.slug %}">
                    <div class="text1">{{subject.name}}</div>
                    <a href="{% url "main:subjects_all" subject.slug %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
            
        {% endfor %}
        </div>
       
</div>  
    
{% endblock cards_of_lessons %}
