
{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static "styles/base.css" %}"> 
<link rel="stylesheet" href="{% static "styles/Cards.css" %}">
{% endblock css %}

 {% block connect %}
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>
                <div class="text-one">Online.school@yandex.ru</div>
        </div>
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="{% url "feedback_view" %}" method="post">
                    {% csrf_token %}
                    <div class="alert alert-danger alert-dismissible fade show">
                     {% if success %}
                        <strong> Благодарим за обращение </strong>
                        {% endif %}
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                        
                        {% if form.message errors %}
                        <div class="alert alert-danger alert-dismissible fade show"><strong> {{form.message.errors}} </strong> </div>
                        {% endif %}
                   
                    <div class="input-box">
                        
                        <input type="text" placeholder="Email">
                        {% if form.message errors %}
                        <div class="alert alert-danger alert-dismissible fade show"><strong> {{form.message.errors}} </strong> </div>
                        {% endif %}
                    </div>
                    <div class="input-box">  
                        <textarea placeholder="Текст сообщения"></textarea>
                        {% if form.message.errors %}
                        <div class="alert alert-danger alert-dismissible fade show"><strong> {{form.message.errors}} </strong> </div>
                        {% endif %}
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>
</div>
{% endblock connect %}
<!-- карточки предметов -->

{% block cards_of_lessons %}
    

<div class="container_crd">

      
<div class="card">
    
        {% for subject in subjects %}
            {% if subject.image %}
            <a href="{% url "main:subjects_all" subject.slug %}"><img src="{{subject.image.url}}" alt=""></a>
            {% endif %}
            <div class="info">
                
               <a href="{% url "main:subjects_all" subject.slug %}">
                    <div class="text1">{{subject.name}}</div>
                    <a href="{% url "main:subjects_all" subject.slug %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
            
        {% endfor %}
        </div>
       
</div>  
    
{% endblock cards_of_lessons %}
