
{% extends "main/base.html" %}
{% load static %}


     {% block title %}<title>Войти</title>{% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
   {% endblock css %}
    
 {% block log_in %}
<div class="container_log">
    <div class="content_log">

      <div class="topic-text_reg">Регистрация</div>
        
        <div class="img">
            <img src="{% static "img/character-avatar-isolated_729149-194801.avif" %}" alt="" width="70%">
        </div>
                <form action="#">
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" placeholder="Введите логин" class="Login">
                        </div>
                        <div class="name">
                        <label for="Login">Login:</label>
                        </div>
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="E-mail" placeholder="Введите свой E-mail" class="E-mail">
                        </div>
                        <div class="name">
                        <label for="E-mail">E-mail:</label>
                        </div>
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <div class="text">
                        <input type="password" placeholder="Введите пароль" class="password">
                        </div>
                        <div class="name1">
                        <label for="password">Пароль:</label>
                        </div>
                        </div>
                    </div>
                    <div class="button1">
                        <input type="button" value="Войти">
                    </div>
                </form>
        </div>
    </div>
</div>
 
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock log_in %}