
{% extends "main/base.html" %}
{% load static %}
    <title>Управление</title>
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    {% endblock css %}
 
{% block cards_of_lessons %}
<div class="p_pr">
    <p>Управление персоналом (HR-менеджмент) — <br><br>это деятельность организации, связанная с наймом сотрудников, их обучением,  мотивацией и развитием. <br><br>Как правило такими функциями в компании наделяют специальное подразделение: <b><br><br>HR-отдел <br><br>HR-департамент <br><br>службу управления персоналом <br><br>отдел кадров</b></p>
</div>
<div class="img_al5">
<img src="staticimg/ma1.avif" alt="" >
</div>

<div class="p_pr">
    <p>Некоторые диапазоны зарплат в зависимости от уровня специалиста и опыта работы: <br><br><b>Junior HR-менеджер</b> (опыт до 1 года) — 45 000–70 000 рублей; <br><br><b>Middle HR-менеджер</b> (опыт 1–3 года) — 70 000–120 000 рублей;
<br><br><b>Senior HR-менеджер</b> (3–5 лет опыта) — 120 000–180 000 рублей, <br><br><b>HR-директор/руководитель HR</b> (от 5 лет) — 180 000–350 000 рублей и выше.</b></p>
</div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}
 {% block connect %}
<!-- Форма обратной связи -->
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>
{% endblock connect %}
