
{% extends "main/base.html" %}
{% load static %}


    <title>Маркетинг</title>
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    {% endblock css %}
    
{% block cards_of_lessons %}
<div class="p_pr">
    <p><b>Маркетинг</b> — это комплекс методов и стратегий, направленных на исследование потребностей потребителей, продвижение товара или услуги, <br>а также влияние на их решения о покупке. <br><br><b>Суть маркетинга</b><br>  в создании ценности для аудитории <br>и соединении продукта с потребителем. Ключевая идея — клиент покупает не товар,<br> а решение своей проблемы. 
</p>
</div>
<div class="img_al2">
<img src="{% static "img/scale_2400.jpg" %}" alt="" width="70%">
</div>

<div class="p_pr">
    <p><center><b>Инструменты маркетинга</b></center> <br><br><b>SEO (Search Engine Optimization)</b> <br> оптимизация сайта для поисковых систем <br>с целью получения органического трафика. <br><br><b>SMM (Social Media Marketing)</b> <br> продвижение в социальных сетях для построения сообщества и вовлечения аудитории. <br><br><b>CRM (Customer Relationship Management)</b><br>система для управления взаимоотношениями <br>с клиентами, автоматизации продаж и аналитики.<br><br><b>Контент-маркетинг</b> <br>создание полезного и увлекательного контента, который привлекает аудиторию. <br><br><b>Email-маркетинг</b>  общение с аудиторией через персонализированные рассылки.</b></p>
</div>
<div class="img_al2">
<img src="{% static "img/prodazhi.jpg" %}" alt="" srcset="" width="70%"></div>
{% endblock cards_of_lessons %}
{% block connect %}
<!-- Форма обратной связи -->
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>
{% endblock connect %}
