
{% extends "base.html" %}
{% load static %}

{% block title %}<title>Профиль</title>{% endblock title %}
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
   {% endblock css %}
    
 {% block log_in %}
<div class="container_log">
    <div class="content_log">

      
        <div class="img">
            <img src="{% static "img/character-avatar-isolated_729149-194801.avif" %}" alt="" width="70%">
            <input type="file" class:"form-control" id="avatar" accept="image/">
        </div> 
            <form action="#">
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" class:"form-control" id="name" placeholder="Введите ФИО" required>
                        </div>
                        <div class="name">
                        <label for="name" class="form-lable">ФИО:*</label>
                        </div>
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="text" class:"form-control" id="username" placeholder="Введите логин" required>
                        </div>
                        <div class="name">
                        <label for="username" class="form-lable">Login:*</label>
                        </div>
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <div class="text">
                        <input type="password" class:"form-control" id="password1" placeholder="Введите пароль" required>
                        </div>
                        <div class="name1">
                        <label for="password1" class="form-lable">Пароль:*</label>
                        </div>
                        </div>
                    </div>
                    <div class="input-box_reg">
                        <div class="text">
                        <input type="Email" class:"form-control" id="Email" placeholder="Введите Email *example@yande.ru" required>
                        </div>
                        <div class="name">
                        <label for="Email" class="form-lable">Email:*</label>
                        </div>
                    </div>
                    <div class="button1">
                        <button type="submin" class="btn bnt-dart btn-block">Сохранить</button>
                    </div>
                </form>
                
        </div>
    </div>
</div>
 
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock log_in %}