
{% extends "base.html" %}
{% load static %}



    <title>Предметы</title>

    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    {% endblock css %}
   


{% block cards_of_lessons %} 

<div class="p_pr"> 
 <p>{{subject.description|linebreaksbr}}</p>
</div>
<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>
{% endblock cards_of_lessons %}



