
{% extends "base.html" %}
{% load static %}



    <title>Предметы</title>

    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    {% endblock css %}
   


{% block cards_of_lessons %}
{% for subject in subjects %}
 
<div class="img_al3">
    
        <img src="{{subject.image.url}}" alt=""  width = "490">
  
</div>

<div class="p_pr">

    
        <p>{{subject.description|linebreaksbr}}</p>
   
   
</div>
        
{% endfor %} 
{% endblock cards_of_lessons %}
 



