
{% extends "main/base.html" %}

{% load static %}


    <title>Учителя</title>
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    {% endblock css %}
    
 {% block cards_of_lessons %}

        <div class="p_pr">
            <p>Образовательная платформа, на которой можно с нуля освоить востребованную профессию, а также получить знания и навыки для перехода на новый уровень в карьере.
            </p>
        </div>
       
    <div>

    <div class="container_crd">
        <div class="card">
            <div class="img_3"><img src="{% static "img/prep1.webp" %}" alt="" >
            </div>
            
            <div class="p_pr">
                
                <p> <b><center>Даниил Пилипенко</center></b><br><br>Основал центр подбора IT-специалистов <br>с базой в 120 000 человек. Консультирует разработчиков по профессиональному росту <br>и развитию, занимается карьерным коучингом.
                </p>
    
             </div>
             <div class="img_3">
                <img src="{% static "img/prep2.webp" %}" alt="" >
            </div>
            
            <div class="p_pr">
                
                <p> <b><center>Михаил Овчинников</center></b> <br><br>Докладчик крупнейших IT-конференций России. <br><br>Более 15 лет опыта в IT — от стартапов до крупных компаний.
                </p>
             </div>
             </div>
             <div class="img_4">
                <img src="{% static "img/prep5.webp" %}" alt="" width="800px" >
            </div>
            <div class="p_pr">
                <p> <b><center>Сергей Камянецкий</center></b> <br><br>Сертифицированный Microsoft-разработчик. <br><br> 8 лет в разработке на C#. <br><br>Победитель Microsoft Uniapps Challenge.
                </p>
             </div>
             <div class="img_5"><img src="{% static "img/prep6.webp" %}" alt="" width="800px" >
            </div>
            <div class="p_pr">
                <p> <b><center>Вадим Шандринов</center></b> <br><br>Python-разработчик с опытом более 16 лет.
                </p>
             </div>
            <div class="img_6"><img src="{% static "img/prep3.avif" %}" alt="" width="800px">
            </div>
            <div class="p_pr">
                <p> <b><center>Дмитрий Коробченко</center></b> <br><br>Руководитель команды разработки в ivi.ru.
                </p>
             </div>
        </div>
{% endblock cards_of_lessons %}

 {% block connect %}
<!-- Форма обратной связи -->
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>
{% endblock connect %}