{% load static %}
{% load main_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online school</title>
   
    {% block css %}

    {% endblock css %}
</head>


<body>
    <div class="main-container">
<!-- навигационная панель -->

    <div class="navbar">
        
        
        <div class="drop">
           
              <button class="nav-btn">&#8776;</button>
                <div class="nav-list">

                {% if not user.is_authenticated %}
                    <a href="{% url "main:index" %}">Главная</a>
                    <a href="{% url "main:About_us" %}">О нас</a>
                    <a href="{% url "main:Teachers" %}">Преподаватели</a>
                    {% tag_subjects as subjects %}
                    {% for subject in subjects %}
                    <a href="{% url "main:subjects_all" subject.slug %}">{{subject.name}}</a>
                    {% endfor %} 
                    <a href="{% url "users:login" %}"> Войти </a>  
                
                {% else %}
                   
                   <a href="{% url "lessons:index" %}">Главная</a>
                    {% for lesson in lessons %}
                    <a href="{% url "lessons:lessons_all" lesson.slug %}">{{lesson.name}}</a>
                    {% endfor %}
                    <a href="{% url "users:logout" %}">Выход</a>
                    <a href="{% url "users:profile" %}">
                    <img src="{% static "img/character-avatar-isolated_729149-194801.avif" %}" alt="" width="70"></a>
                {% endif %}
                
                {% if user.is_admim %}
                <a href="{% url "users:List_of_teachers" %}">Список учителей</a><br><br>
                <a href="{% url "feedback:messages" %}">Обращения</a><br><br>
                <a href="{% url "main:index" %}">Пользователи</a><br><br>
                <a href="{% url "main:index" %}">Группы</a>
                <a href="{% url "main:index" %}">Ученики</a>
                <a href="{% url "admin:index" %}">Админ панель</a>
                {% endif %}

                {% if user.is_staff %}
                <a href="{% url "main:index" %}">Мои курсы</a>
                <a href="{% url "main:index" %}">Мои группы</a>
                <a href="{% url "testing:tests" %}"> Тесты</a>
                {% endif %}
               
              
        </div>
     
       </div>  
    
    </div> 

        <h1>Онлайн школа</h1>
    <div>
{% tag_subjects as subjects %}
{% tag_About_us as about_us %}
{% tag_teachers as teachers %}


<div class="first_ph"><img src="{% static "img/он.об.png" %}" alt=""></div>
<!-- Форма обратной связи -->

{% block connect %}
<!-- Форма обратной связи -->

 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>

          
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="{% url "main:index" %}" method="post">
                    {% csrf_token %}
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>

{% endblock connect %}
<!-- карточки предметов -->

   
{% block cards_of_lessons %}
   
{% endblock cards_of_lessons %}
<!-- Форма регистрации -->
 {% block log_in %}{% endblock log_in %}
<!-- Футер -->
<div class="container">
    <footer>
        <section class="ft-main">
            <div class="ft-main-item">

                <h2 class="ft-title">Fast links</h2>
                <ul>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url "main:index" %}">Главная</a></li>
                    <li><a href="{% url "users:login" %}">Войти</a></li>
                    {% else %}
                    <li><a href="{% url "main:index" %}">Главная</a></li>
                    <li><a href="{% url "users:logout" %}">Выход</a></li>
                    {% endif %} 
                </ul>


                
            </div>
            <div class="ft-main-item">

                <h2 class="ft-title">Contacts</h2>
                <ul>
                    <li>+7 965 120 22 46</li>
                    <li>Online.school@yandex.ru</li>
                    
                </ul> 
            </div>
        </section>

        <section class="ft-legal">
            <ul class="ft-legal-list">
                <li>&copy: Яланская Вероника Артуровна Copyright 2026 Online_School</li>
            </ul>



        </section>
    </footer>
</div>

</body>


</html>