
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online school</title>
    {% block css %}

    {% endblock css %}
   

</head>


<body>
    <div class="main-container">
<!-- навигационная панель -->

    <div class="navbar">
        
        
        <div class="drop">

              <button class="nav-btn">&#8776;</button>
                <div class="nav-list">
                <a href="{% url "lessons:index" %}">Главная</a>
                <a href="{% url "lessons:Syntacsis" %}">Основы синтаксиса</a>
                <a href="{% url "lessons:History" %}">История PHP</a>
                <a href="{% url "lessons:Massyvy" %}">Массивы</a>
                <a href="{% url "lessons:Obgects" %}">Объекты и классы</a>
                <a href="{% url "lessons:Methods" %}">Методы</a>
                <a href="{% url "lessons:MySQL_in_PHP" %}">MySQL в PHP</a>
                <a href="{% url "lessons:Cookie" %}">Фалы cookie</a>
                <a href="{% url "lessons:Profile_std" %}">
                <img src="{% static "img/character-avatar-isolated_729149-194801.avif" %}" alt="" width="70"></a>
        </div>
     
       </div> 
    
    </div>

        <h1>Онлайн школа</h1>
    <div>
 {% block connect %}{% endblock connect %}
 {% block log_in %}{% endblock log_in %}
<!-- карточки предметов -->
{% block cards_of_lessons %}{% endblock cards_of_lessons %}

<!-- Футер -->
<div class="container">


    <footer>
        <section class="ft-main">
            <div class="ft-main-item">

                <h2 class="ft-title">Fast links</h2>
                <ul>
                    <li><a href="{% url "lessons:index" %}">Главная</a></li>
                    <li><a href="{% url "lessons:Profile_std" %}">Личный кабинет</a></li>
                    <li><a href="{% url "lessons:about_us_std" %}">О нас</a></li>
                    
                </ul>


                
            </div>
            <div class="ft-main-item">

                <h2 class="ft-title">Contacts</h2>
                <ul>
                    <li>+7 965 120 22 46</li>
                    <li>Online.school@yandex.ru</li>
                    
                </ul> 
            </div>
        </section>

        <section class="ft-legal">
            <ul class="ft-legal-list">
        
                <li>&copy: Яланская Вероника Артуровна Copyright 2026 Online_School</li>
            </ul>



        </section>
    </footer>
</div>

</body>


</html>