{% extends "base.html" %}
{% load static %}

{% block css %}
<title>Online school</title>
<link rel="stylesheet" href="{% static "styles/base.css" %}">
<link rel="stylesheet" href="{% static "styles/Cards.css" %}">
{% endblock css %}

 {% block connect %}
<!-- Форма обратной связи -->
 <div class="container_sv">
    <div class="content">
        <div class="left-side">
            <div class="addres details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Адрес</div>
                <div class="text-one">г. Москва</div>
                <div class="text-two">Цветной бульвар ул., 8 д.</div>
            </div>
          <div class="phone details">
                <i class="fas fa-phone-alt"></i>

                <div class="text-one">+7 965 120 22 46</div>
            <div class="email details"></div>
                <i class="fas fa-envelope"></i>

                <div class="text-one">Online.school@yandex.ru</div>  
        </div>
       
          <div class="right-side">
                <div class="topic-text">Задайте нам вопрос</div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Фамилия Имя Отчетсво">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea placeholder="Текст сообщения"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Отправить">
                    </div>
                </form>
                </div>
            </div>
    
    </div>
        
    <script src="https://kit.fontawesome.com/04e6d630bb.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    </div>

</div>
{% endblock connect %}
<!-- карточки предметов -->
{% block cards_of_lessons %}
    

<div class="container_crd">

      
<div class="card">
            {% for lesson in lessons %}
            {% if lesson.image %}
            <a href="{% url "lessons:Lessons_all" lesson.slug %}"><img src="{{lesson.image.url}}" alt="" width="90%"></a>
            {% endif %}
            <div class="info">
                
               <a href="{% url "lessons:Lessons_all" lesson.slug %}">
                    <div class="text1">{{lesson.name}}</div>
                    <a href="{% url "lessons:Lessons_all" lesson.slug %}">
                        <div class="button1">
                        <input type="button" value="Хочу узнать больше">
                        </div>
                    </a>
                </a>
            </div>
            
        {% endfor %}
        </div>
       
</div>  
    
{% endblock cards_of_lessons %}

