{% extends "base.html" %}
{% load static %}


    <title> Lessons_php</title> 
    {% block css %}
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="{% static "styles/Log_in.css" %}">
    <link rel="stylesheet" href="{% static "styles/Content.css" %}">
    <link rel="stylesheet" href="{% static "styles/Cards.css" %}">
    {% endblock css %}

 

{% block cards_of_lessons %} 

<div class="p_pr"> 
 <p>{{lesson.description|linebreaksbr}}</p>
</div>

<div class="img_al2">
<img src="{% static "img/man.png" %}" alt="" srcset="" width="70%">
</div>

<div class="p_pr">
<h3 class="card-title">Скачать лекцию</h3>

<form method="POST" action="{% url "lessons:lessons" %}" enctype="multipart/form-data">
    {% csrf_token %}

        <label>Выберете формат</label>
          <select class="custom-select" name="file-format">
            <option selected>Выберете формат...</option>
            <option>Word</option>
            <option>XLS (Excel)</option>
          </select><br><br><br>
        
            <div class="button">
        <button type="submit" >Скачать</button>
        </div>
<div class="button">
        <input type="submit" value="Скачать">
          </div>
        </div> 
       
</form>

</div>
{% endblock cards_of_lessons %}


