{% load static %}

{% if form.non_field_errors %}
    <div class="container_log">
        <div class="content_log">
            <div class="alert alert-danger alert-dismissible fade show custom-shadow" role="alert">
                {{form.non_field_errors}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label='Close'></button>
            </div>
        </div>
    </div>
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
        <div id="notification" class="position-fixed start-50 translate-midle-x z-3 alert alert-success fade show custom-shadow">
            {{message}}
        </div>
        
        {% endif %}

    {% endfor %}
{% endif %}
