.navbar {
display: flex;
background-color: rgb(85, 83, 83);
}

.nav-list {
    display: flex;

}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10cqb ;
}

.nav-list a:hover {
    background-color: rgb(173, 169, 169);
}
.nav-btn {

        display:none;
}

@media (max-width: 1000px){
    .nav-btn{
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 3px;
    border: none;
    background-color: rgb(85, 83, 83);
    color: white;
    display: block;
    cursor: pointer;
    }
    .nav-list{
        display: none;
    }
    .nav-btn:hover{
        background-color: rgb(173, 169, 169)
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;


        background-color: rgb(85, 83, 83);

    }
    .navbar{

        justify-content: space-between ;
    }
}
 h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    text-transform: uppercase;

 }

 .main-container{
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    
}
html{
    height: 100%;
}    
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 0px;
}
.container {
    margin-top: auto;
}
ul {
    list-style-type: none;
}
footer {
    background: black;
    color: white;
    text-decoration: none;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3cqb ;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 10px;
}

footer a {
    color: beige;
    font-size: 1.7rem;
    transition: 0.5s;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer.ft-title{
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.ft-main{
    display:flex;
    flex-wrap: wrap;
    padding: 1.5rem 2 rem;
    justify-content: space-evenly;
}

.ft-main-item{
    padding: 2rem;
    min-width: 1.3rem;
    
}


@media (min-width: 1500px) {
    .ft-main {
        justify-content: space-evenly;

    }
}
@media (min-width: 500px) {
    .ft-main {
        justify-content: space-evenly;

    }
}
.ft-legal{
    padding: 1rem 2rem;
    background: rgb(70, 68, 68);
}
.ft-legal-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.fit-legal-list li{

    margin-left: 6rem;
    white-space: nowrap;
   

}
.fit-legal-list li:nth-child(1){
    flex:1;
    background: red;
}