.navbar {
display: flex;
background-color: rgb(85, 83, 83);
}

.nav-list {
    display: flex;

}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10cqb ;
}

.nav-list a:hover {
    background-color: rgb(173, 169, 169);
}
.nav-btn {

        display:none;
}

@media (max-width: 1000px){
    .nav-btn{
    font-size: 2em;
    padding-inline: 10px;
    padding-bottom: 3px;
    border: none;
    background-color: rgb(85, 83, 83);
    color: white;
    display: block;
    cursor: pointer;
    }
    .nav-list{
        display: none;
    }
    .nav-btn:hover{
        background-color: rgb(173, 169, 169)
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;


        background-color: rgb(85, 83, 83);

    }
    .navbar{

        justify-content: space-between ;
    }
}
 h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 15px;
    margin-bottom: 150px;
    margin-top: 100px;
    padding: 40px;
 }

 .main-container{
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    
}
html{
    height: 100%;
}    
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_sv {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0rgba(34, 60, 80, 0.2);
}

.left-side{
    width: 25%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: coloumn;
}
.left-side::before{
    content: ""; 
    position: absolute;
    height: 35%;
    width: 2px;
    background-color: gray;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.right-side{
    width: 75%;
    margin-left: 75px;
}
.details{
    margin-bottom: 15px;
    text-align: center;
}

.details.i {
    font-size:25 px;
    color: #3e2093;
    margin-bottom: 10px;
}

.topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

.text-one,
.text-two {
    font-size: 14px;
    color: #afafb6;
}

.topic-text{
    font-size:23px;
    font-weight: 600;
    color: #3e2093;
    margin-bottom: 10px;
}
.input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0;
}
.input-box input,
.input-box textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: #f0f1f8;
    padding: 0 20px;
    border-radius: 5px;
}
.input-box textarea{
    resize: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-seri;
}
.message-box{
    min-height: 110px;
}
.button{
    display: inline-block;
}
.button input[type="button"]{
    color:white;
    background: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5 px;
    transition: 0.2s;
}
@media (max-width: 800px){
    .content{
        height: 100%;
        flex-direction: column-reverse;
    }
    .left-side{
        margin-top: 50px;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .details {
        margin-right: 20px;
    }
    .details:last-child{
        margin-right: 0;
    }

    .left-side::before {
        display: none;
    }
    .right-side{
        width: 100%;
        margin-left: 0;
    }
}
.button input[type="button"]:hover{
    background: #1c094e;
}
.container {
    margin-top: auto;
}
ul {
    list-style-type: none;
}

footer {
    background: black;
    color: white;
    text-decoration: none;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3cqb ;
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 10px;
}

footer a {
    color: beige;
    font-size: 1.7rem;
    transition: 0.5s;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer.ft-title{
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.ft-main{
    display:flex;
    flex-wrap: wrap;
    padding: 1.5rem 2 rem;
    justify-content: space-evenly;
}

.ft-main-item{
    padding: 2rem;
    min-width: 1.3rem;
    
}


@media (min-width: 1500px) {
    .ft-main {
        justify-content: space-evenly;

    }
}
@media (min-width: 500px) {
    .ft-main {
        justify-content: space-evenly;

    }
}
.ft-legal{
    padding: 1rem 2rem;
    background: rgb(70, 68, 68);
}
.ft-legal-list{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.fit-legal-list li{

    margin-left: 6rem;
    white-space: nowrap;
   

}
.fit-legal-list li:nth-child(1){
    flex:1;
    background: red;
}