
.container_log {
    width: 100%;
    max-width: 1000px;
    display: block;
    padding: 20px 20px;
    margin-left: 10%;
}
.content_log{
    display:block;
    align-items:center;
    justify-content:right;
    background: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0rgba(34, 60, 80, 0.2);
}
.topic-text_reg{
    font-size:50px;
    font-weight: 600;
    color: #3e2093;
    margin-bottom: 10px;
    margin-left: 35%;
}
.img{
    margin-left: 20%;
    box-shadow: 4px 4px 8px 0rgba(34, 60, 80, 0.2);
}
    
.input-box_reg,
.password{
    width: 100%;
    height: 50px;
    margin: 30px 0px ;
}

.input-box_reg input,
.input-box_reg textarea,
.password{
    width: 60%;
    height: 100%;
    border: none;
    background: #f0f1f8;
    padding: 20px;
    border-radius: 5px;
    margin-left: 30%;
    
}
.input-box_reg textarea{
    resize: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-seri;
}
.name{
    font-size:40px;
    font-weight: 600;
    color: #3e2093;
    margin-top: -6%;
    margin-left: 10%;
}
.name1{
    font-size:35px;
    font-weight: 600;
    color: #3e2093;
    margin-top: -10%;
    margin-left: 10%;
}
.text{
    font-size:40px;
    font-weight: 600;
}
.text1{
    margin-top: -3%;
}
.button1{
    display: inline-block;

}
.button11{
    display: inline-block;

}
.button1 input[type="button"],
.button11 input[type="button"]{
    color:white;
    background:#3e2093 ;
    border: none;
    outline: none;
    padding: 30px 50px;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 150%;
    border-radius: 5 px;
    transition: 0.2s;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0rgba(34, 60, 80, 0.2);
}





@media (max-width: 800px){
    .container_log {
    width: 80%;
    }
     .content_log{
        height: 100%;
        flex-direction: column-reverse;
    }
    .input-box_reg,
    name1{
        width: 90%;
        height: 50px;
        margin-left: -10%;
        
    }
     
    .topic-text_reg{
        font-size:30px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-left: 25%;
        
    }
   .name{
        
        margin-left: 50%;
        font-size:30px;
        font-weight: 600;
        margin-bottom: -70%;
        
    }
    .name1{
        margin-top: -40%;
        margin-left: 50%;
        font-size:30px;
        font-weight: 600;
        
    }
    .text{
        margin-top: 25%;
         margin-bottom: -35%;
    }
    .text1{
        margin-right: 20%;
        margin-left: -10%;
        margin-top: -10%;

    }
    .button1 input[type="button"]{
        padding: 20px 30px;
        font-size: 15px;
        
        
    }
}
